@model EternityX.Models.Product
@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Изтриване на продукт";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4 col-lg-6 mx-auto text-center">
        <div class="card-header bg-danger text-white">
            <h4>🗑 Изтриване на продукт</h4>
        </div>

        <div class="card-body">
            <p class="text-danger fw-bold">
                Сигурни ли сте, че искате да изтриете
                <b>@Model.Name</b>?
            </p>

            <form asp-area="Admin"
                  asp-controller="Products"
                  asp-action="Delete"
                  method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />

                <a asp-area="Admin" asp-controller="Products" asp-action="Index"
                   class="btn btn-secondary">⬅ Отказ</a>
                <button class="btn btn-danger">Изтрий</button>
            </form>
        </div>
    </div>
</div>
